---
import DefaultLayout from './DefaultLayout.astro';
const { title, description, bodyClass } = Astro.props;
---
<DefaultLayout title={title} description={description} bodyClass={bodyClass}>
  <div class="container">
    <article class="page">
      <slot />
    </article>
  </div>
</DefaultLayout>
