<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ site.baseurl }}/">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="{% if page.has_hero %}has-hero{% endif %}{% if page.class %} {{ page.class }}{% endif %}{% if page.theme %} theme-{{ page.theme }}{% endif %}">
    <header>
        <div class="container">
            <a href="{{ site.baseurl }}/" class="logo">
                {% include svg/made-logo.svg %}
            </a>
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/about"{% if page.url == "/about/" %} class="current"{% endif %}>About</a></li>
                    <li><a href="{{ site.baseurl }}/membership"{% if page.url == "/membership/" %} class="current"{% endif %}>Membership</a></li>
                    <li><a href="{{ site.baseurl }}/brodersons"{% if page.url == "/brodersons/" or page.url contains "/brodersons/" %} class="current"{% endif %}>Brodersons</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {{ content }}
    </main>

    <footer>
        <div class="container">
            <hr>

            <div class="contact">
                <p class="lede">{{ site.data.footer.contact.lede }}</p>

                <dl class="contact-info">
                    <dt>Email</dt>
                    <dd><a href="mailto:{{ site.data.footer.contact.email }}">{{ site.data.footer.contact.email }}</a></dd>
                    <dt>LinkedIn</dt>
                    <dd><a href="https://www.linkedin.com/in/{{ site.data.footer.contact.linkedin }}" target="_blank">@{{ site.data.footer.contact.linkedin }}</a></dd>
                    <dt>Instagram</dt>
                    <dd><a href="https://www.instagram.com/{{ site.data.footer.contact.instagram }}" target="_blank">@{{ site.data.footer.contact.instagram }}</a></dd>
                    <dt>Facebook</dt>
                    <dd><a href="https://www.facebook.com/{{ site.data.footer.contact.facebook }}" target="_blank">@{{ site.data.footer.contact.facebook }}</a></dd>
                </dl>

                <a href="{{ site.data.footer.contact.signup_url }}" class="external">{{ site.data.footer.contact.signup_text }}</a>
            </div>
            
            <hr>

            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/"{% if page.url == "/" %} class="current"{% endif %}>Home</a></li>
                    <li><a href="{{ site.baseurl }}/about"{% if page.url == "/about/" %} class="current"{% endif %}>About MADE</a></li>
                    <li><a href="{{ site.baseurl }}/brodersons"{% if page.url == "/brodersons/" or page.url contains "/brodersons/" %} class="current"{% endif %}>Broderson Awards</a></li>
                    <li><a href="{{ site.baseurl }}/membership"{% if page.url == "/membership/" %} class="current"{% endif %}>Become a member</a></li>
                    <li><a href="{{ site.baseurl }}/code-of-conduct"{% if page.url == "/code-of-conduct/" %} class="current"{% endif %}>Code of conduct</a></li>
                    <li><a href="/login" class="external" target="_blank">Member account login</a></li>
                    <li><a href="https://maineaddesign.slack.com" class="external" target="_blank">Member Slack</a></li>
                </ul>
            </nav>

            <hr>

            <div class="fineprint">
                {{ site.data.footer.fineprint | markdownify }}
                <p>© {{ site.data.footer.copyright_start_year }}–{% capture now %}{{ "now" | date: "%Y" }}{% endcapture %}{{ now }} {{ site.data.footer.copyright_name }}</p>
            </div>
        </div>
    </footer>
    
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>